<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dal.Properties.Settings.sca" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\viera\OneDrive\Documentos\ILP008\SCA\sca.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>